version: "{build}"
skip_non_tags: true
environment:
    vim_compilation_credit: micbou <contact@micbou.com>
    bintray_username: micbou
    bintray_api_key:
        secure: B1GlaWpEZ4f1oU6Hfi0XKe/LUoqJgJVUtXP8QxENtezlyNDqvRMfw1gX7btpEYk9
    matrix:
        #- arch: 32
        #  msvc: 11
        - arch: 32
          msvc: 12
        #- arch: 32
        #  msvc: 14
        #- arch: 64
        #  msvc: 11
        - arch: 64
          msvc: 12
        #- arch: 64
        #  msvc: 14
install:
    - appveyor\install.bat
build_script:
    - python appveyor\build.py --msvc %msvc% --arch %arch% --credit "%vim_compilation_credit%"
    - appveyor\variables.bat
    - python appveyor\package.py %vim_artifact%
test_script:
    - python appveyor\test.py --msvc %msvc%
artifacts:
    - path: nsis\$(vim_artifact)
      name: vim
deploy:
    - tag: $(appveyor_repo_tag_name)
      release: $(vim_version)
      description: $(vim_description)
      provider: GitHub
      auth_token:
          secure: gm7NWc/q5jrfYIipgRGs8Xd8+4BmWeEAEgfnCJYcu2EpgFdAxIMcT6ixBCE2gg5F
      artifact: vim
      draft: false
      prerelease: false
      on:
          branch: master
          appveyor_repo_tag: true
          msvc: 12
# Deploy to Bintray
after_deploy:
    - python appveyor\bintray.py upload generic vim %vim_version% nsis\%vim_artifact% --override
    - python appveyor\bintray.py update-version generic vim %vim_version% "%vim_description%" --vcs-tag %appveyor_repo_tag_name%
    - python appveyor\bintray.py publish generic vim %vim_version%
    - python appveyor\bintray.py download-list generic %vim_artifact% add
