version: "{build}"
skip_non_tags: true
environment:
    vim_compilation_credit: micbou <contact@micbou.com>
    bintray_username: micbou
    bintray_api_key:
        secure: B1GlaWpEZ4f1oU6Hfi0XKe/LUoqJgJVUtXP8QxENtezlyNDqvRMfw1gX7btpEYk9
    matrix:
        - arch: 32
          msvc: 11
        - arch: 32
          msvc: 12
        - arch: 32
          msvc: 14
        - arch: 64
          msvc: 11
        - arch: 64
          msvc: 12
        - arch: 64
          msvc: 14
matrix:
    allow_failures:
        - msvc: 14
install:
    # Download and uncompress Lua
    # We need to use Powershell because % character cannot be escaped in CMD on AppVeyor and URL contains one.
    - ps: rm alias:curl
    - ps: curl -fssL -o lua.zip http://sourceforge.net/projects/luabinaries/files/5.3.2/Windows%20Libraries/Dynamic/lua-5.3.2_Win"$env:arch"_dllw4_lib.zip/download
    - 7z x lua.zip -oC:\Lua > nul
    - set PATH=C:\Lua;%PATH%
    # Install NSIS and update PATH
    - curl -fsSL -o nsis-3.0b2-setup.exe http://prdownloads.sourceforge.net/nsis/nsis-3.0b2-setup.exe
    - nsis-3.0b2-setup.exe /S
    - set PATH=C:\Program Files (x86)\NSIS;%PATH%
    # Install UPX
    - curl -fsSL -o upx391w.zip http://upx.sourceforge.net/download/upx391w.zip
    - 7z x upx391w.zip -oC:\UPX > nul
    - set PATH=C:\UPX;%PATH%
    # Requirement for bintray script
    - ps: (new-object net.webclient).DownloadFile('https://raw.github.com/pypa/pip/master/contrib/get-pip.py', 'C:\get-pip.py')
    - python C:\get-pip.py
    - set PATH=C:\Python27\Scripts;%PATH%
    - pip install requests
    # Fix test86 failure introduced by python 2.7.11
    # TODO: check if this is still needed when python 2.7.12 is released.
    - reg copy HKLM\SOFTWARE\Python\PythonCore\2.7 HKLM\SOFTWARE\Python\PythonCore\2.7-32 /s /reg:32
    - reg copy HKLM\SOFTWARE\Python\PythonCore\2.7 HKLM\SOFTWARE\Python\PythonCore\2.7-32 /s /reg:64
build_script:
    - python appveyor\build.py --msvc %msvc% --arch %arch% --credit "%vim_compilation_credit%"
    - appveyor\variables.bat
    - python appveyor\package.py %vim_artifact%
test_script:
    - python appveyor\test.py --msvc %msvc%
artifacts:
    - path: nsis\$(vim_artifact)
      name: vim
deploy:
    - tag: $(appveyor_repo_tag_name)
      release: $(vim_version)
      description: $(vim_description)
      provider: GitHub
      auth_token:
          secure: gm7NWc/q5jrfYIipgRGs8Xd8+4BmWeEAEgfnCJYcu2EpgFdAxIMcT6ixBCE2gg5F
      artifact: vim
      draft: false
      prerelease: false
      on:
          branch: master
          appveyor_repo_tag: true
          msvc: 12
# Deploy to Bintray
after_deploy:
    - python appveyor\bintray.py upload generic vim %vim_version% nsis\%vim_artifact% --override
    - python appveyor\bintray.py update-version generic vim %vim_version% "%vim_description%" --vcs-tag %appveyor_repo_tag_name%
    - python appveyor\bintray.py publish generic vim %vim_version%
    - python appveyor\bintray.py download-list generic %vim_artifact% add
