version: "{build}"
skip_non_tags: true
environment:
    matrix:
        #- arch: 32
        #  msvc: 11
        - arch: 32
          msvc: 12
        #- arch: 32
        #- msvc: 14
        #- arch: 64
        #- msvc: 11
        - arch: 64
          msvc: 12
        #- arch: 64
        #- msvc: 14
matrix:
    allow_failures:
        - msvc: 14
install:
    # Install NSIS and update PATH
    - curl -fsSL -o nsis-3.0b2-setup.exe http://prdownloads.sourceforge.net/nsis/nsis-3.0b2-setup.exe
    - nsis-3.0b2-setup.exe /S
    - set PATH=C:\Program Files (x86)\NSIS;%PATH%
    # Install UPX
    - curl -fsSL -o upx391w.zip http://upx.sourceforge.net/download/upx391w.zip
    - 7z x upx391w.zip
    - set PATH=%APPVEYOR_BUILD_FOLDER%\upx391w;%PATH%
build_script:
    - python build.py --msvc %msvc% --arch %arch%
test_script:
    - python test.py --msvc %msvc%
artifacts:
    - path: nsis\vim*.exe
      name: vim
before_deploy:
    - python deploy.py %arch% %appveyor_repo_tag_name%
deploy:
    - release: $(appveyor_repo_tag_name)
      description: 'Vim for Windows'
      provider: GitHub
      auth_token:
        secure: gm7NWc/q5jrfYIipgRGs8Xd8+4BmWeEAEgfnCJYcu2EpgFdAxIMcT6ixBCE2gg5F
      artifact: vim
      draft: false
      prerelease: false
      on:
          branch: build
          appveyor_repo_tag: true
          msvc: 12
