version: "{build}"
skip_non_tags: true
environment:
    lua_version: 5.3.2
    perl_version: 5.22.1.2201
    perl_revision: 299574
    python2_version: 2.7.11
    python3_version: 3.5.1
    racket_version: 6.4
    # TODO: bump to 2.3.0 when RubyInstaller for 2.3.0 is available.
    ruby_version: 2.2.0
    tcl_version: 8.6.4.1
    tcl_revision: 299124
    vim_compilation_credit: micbou <contact@micbou.com>
    bintray_username: micbou
    bintray_api_key:
        secure: B1GlaWpEZ4f1oU6Hfi0XKe/LUoqJgJVUtXP8QxENtezlyNDqvRMfw1gX7btpEYk9
    twitter_consumer_key:
        secure: aohf6ZTz+kDR1CpuSXhDgCEqWe0/k7M1MfNtMlNwRLw=
    twitter_consumer_secret:
        secure: 4ZR4VoPu/8/a/tMPpMM41vwcAz+OeYfQ4dfiE99Pmqz0dSCiDpsO22cC11Sr53BcK+UZzQBH68ppB71nmjk6Mw==
    twitter_access_token:
        secure: KBY9gZq2RJzAIHCea6h+nTCIBiNQgTipI3lL0WPz1N6GXuOgikVQWWuaf+cFhXL0Lh2UgQuFHm2zDByFSXmkMQ==
    twitter_access_token_secret:
        secure: z66tC6HWZZ7dXS5SG49amgEGBfR6vX3SXQUjgV1GmFuaVFDXr67XZfK/dG3x8+pA
    matrix:
        - arch: 32
          msvc: 12
        - arch: 32
          msvc: 14
        - arch: 64
          msvc: 12
        - arch: 64
          msvc: 14
matrix:
    allow_failures:
        # We allow failures for MSVC 14 because Ruby 2.2.0 cannot be compiled with
        # this version of MSVC. This is fixed in release 2.3.0.
        - msvc: 14
install:
    - appveyor\install.bat
build_script:
    - python appveyor\build.py --msvc %msvc% --arch %arch% --lua-version %lua_version% --perl-version %perl_version% --python2-version %python2_version% --python3-version %python3_version% --racket --ruby-version %ruby_version% --tcl-version %tcl_version% --credit "%vim_compilation_credit%"
    - appveyor\variables.bat
    - python appveyor\package.py %vim_artifact%
test_script:
    - python appveyor\test.py --msvc %msvc%
artifacts:
    - path: nsis\$(vim_artifact)
      name: vim
deploy:
    - tag: $(appveyor_repo_tag_name)
      release: $(vim_version)
      description: $(vim_description)
      provider: GitHub
      auth_token:
          secure: gm7NWc/q5jrfYIipgRGs8Xd8+4BmWeEAEgfnCJYcu2EpgFdAxIMcT6ixBCE2gg5F
      artifact: vim
      draft: false
      prerelease: false
      on:
          branch: master
          appveyor_repo_tag: true
          msvc: 12
# Deploy to Bintray and send a tweet
after_deploy:
    - python appveyor\bintray.py upload generic vim %vim_version% nsis\%vim_artifact% --override
    - python appveyor\bintray.py update-version generic vim %vim_version% "%vim_description%" --vcs-tag %appveyor_repo_tag_name%
    - python appveyor\bintray.py publish generic vim %vim_version%
    - python appveyor\bintray.py download-list generic %vim_artifact% add
    - python appveyor\twitt.py "%vim_tweet%"
